{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <span class="icon fa-gem"></span>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <h1><a href="{{ "/" | relURL }}">Go Home</a></h1>
                            <p>
                                Nothing to see here
                            </p>
                        </div>
                    </div>
                </header>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>
{{ partial "lang.html" . }}
</body>

{{ partial "footer.html" . }}